*{
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
    color: #777;
}

html, body{
    margin:0;
    padding: 0;
}



.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255,3);
}

.main-nav li{
    padding: 0 5%;
}

.nav a:hover{
    background-color: rgba(255,255,255,1);
}

.main-header{
    background-image: url("images/record.jpg");
    background-size: cover;
    background-color: rgba(0,0,0,0);
    background-blend-mode: multiply;
    padding-bottom: 12%;
}

.band-name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(52, 192, 192);
    text-shadow: 5px 4px rgb(78, 4, 81);  
}

.band-name::first-letter{
    color: rgb(200, 210, 5);
    font-size: 1.8em;
}
.band-name-large{
    font-size: 7em;
}

.band-name-large::first-letter{
    color: rgb(200, 210, 5);
    font-size: 1.6em;
}

.content-section{
    margin: 1em;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 3.8rem 1.5em;
}

.section-header{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 2.9em;
}

.about-band-image{
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;

}

.main-footer{
    background: url(images/mic.jpg);
    color: white;
    padding: .25em 0;
}

.main-footer-container{
    display: flex; 
    align-items: center; 
}

.main-footer-container ul{
    flex-grow: 1;
    text-align: center;
}

.footer-nav li{
    padding: 0 .5em;
    font-weight: bold;
}

.btn{
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header{
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid skyblue;
    background-color: rgba(255,255,255,-1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 1em;
}

.btn-header:hover{
    background-color: rgba(255,255,255,3);
}

.btn-play{
    display: block;
    margin: 0 auto;
    color: skyblue;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
    
}

.tour-row{
    border-bottom: 2px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child{
    border-bottom: none;
}

.tour-item {
    padding-right: .5em;
    display: inline-block;
}

.tour-date {
    color:#555;
    font-weight: bold;
    width: 11%;
}

.tour-city{
    width: 24%;
}

.tour-arena{
    width: 42%;
}

.tour-btn{
    max-width: 19%;
}

.btn-primary{
    color:white;
    background-color: skyblue;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: rgb(10, 205, 205);
}

.shop-item {
    margin: 30px;
}

.shop-item-title{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    color: #3e3d3d;
    margin-bottom: 15px;
}

.shop-item-image{
    height: 250px;

}

.shop-item-details{
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price{
    flex-grow: 1;
    color: #333;
    font-weight: bold;
}

.shop-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header{
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.cart-column{
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.cart-row {
    display: flex; 
}

.cart-item{
  width: 45%;
}

.cart-price{
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity{
   width: 35%;
}

.cart-item-title{
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image{
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger{
    color: white;
    background-color: red;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover{
    background-color: rgb(184, 15, 15);
}

.cart-quantity-input{
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid aqua;
  background-color: whitesmoke;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child{
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column{
    border: none;
}

.cart-total{
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title{
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    margin-right: 20px;
}

.cart-total-price{
    color: black;
    font-size: 1.5rem;
}

.btn-purchase{
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.2em;
}

.nav-btn{
    text-decoration: none;
    color: white;
}

.address-footer{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    
}

.contact, .email{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: .8em;
    color: rgb(63, 10, 90);
}

.nav-contact{
 color: red;
}

.nav-email{
  color: red;
}

.nav-contact:hover, .nav-email:hover{
    color: rgb(226, 81, 81);
}

form{
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em ;
}

.form-title{
    text-align: center;
    font-weight: bold;
    color: rgb(6, 181, 181);
    font-family: Helvetica ;
    font-size: 18px;
    background-color: yellow;
}

.form-field{
    margin:auto;   
}

fieldset{
    border: 1px solid rgb(70, 4, 70);
    border-radius: 3px;
    margin: 16px;
    margin-top: 8px;
    background-color: rgb(166, 66, 166);
    box-shadow: 0 0 20px 0 rgba(166,66,166,0.8);
}

.label-name{
    margin: .3em;
    font-weight: bold;
    color: white;
    
}

.input-field{
    margin: 10px 0 0 0;
    border: 1px solid rgb(52, 192, 192) ;
    border-radius: 2px;
    width: 60%;
    min-height: 2em;
}

.input-field:hover {
    border: 1px solid rgb(194, 235, 235);
}



.form-btn{
    display: block;
    margin: 1em auto;
    font-size: 1.2rem;

}

.about-list li{
    list-style-type: square;
}